@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
/* GLOBAL CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}
button {
  cursor: pointer;
}
.container {
  max-width: 120rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}
/* Hero Section Styling */
.hero {
  display: flex;
  background-color: #161616;
  gap: 2.4rem;
  justify-content: center;
  border-radius: 3rem;
  padding: 3.3rem 7.9rem 0 12rem;
  margin-top: 3rem;
  overflow: hidden;
}
.hero-left {
  flex-basis: 50%;
  align-self: center;
}
.hero-left h1 {
  color: #fff;
  font-weight: 700;
  font-size: 7rem;
  line-height: 8rem;
}
.hero-left p {
  color: #fff;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.6rem;
  margin: 2rem 0 3rem 0;
}
.hero-left button {
  color: #fff;
  background: #dd0000;
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 1.6rem 2.5rem;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  text-align: center;
  cursor: pointer;
}
.hero-left button i {
  margin-left: 1rem;
}
.hero-left button:hover {
  background: #fff;
  border: 2px solid #dd0000;
  color: #dd0000;
  transition: all 0.3s ease-in-out;
}
.hero-right {
  flex-basis: 50%;
  text-align: center;
  align-self: flex-end;
}
.hero-right img {
  max-width: 59rem;
  display: block;
  width: 100%;
}
/* Header Animation */
.hero-right:hover img {
  animation: bounceInOut 1s linear infinite;
}

@keyframes bounceInOut {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.2);
  }
  60% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* Main Section Styling */
.main {
  display: flex;
  gap: 2.4rem;
  margin-top: 13rem;
  margin-bottom: 13rem;
}

.main-left {
  background-color: #161616;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 31.2rem;
  height: 31.2rem;
  border-radius: 10px;
  padding: 3rem;
}
.main-left .action-button {
  padding: 1.7rem 0;
  width: 25.2rem;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  border-radius: 10px;
  border: none;
  text-align: center;
  text-decoration: none;
  background-color: #fff;
  color: black;
  border: 1px solid #161616;
  margin: auto;
}
.main-left .active {
  background-color: #dd0000;
  color: #fff;
}

.main-right {
  display: grid;
  grid-template-columns: repeat(3, calc((100% / 3) - 1.6rem));
  grid-gap: 2.4rem;
}
.main-right .card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
}
.main-right .card .card-body {
  padding: 2rem;
}
.main-right .card img {
  width: 100%;
}
.main-right .card .card-body button {
  background-color: transparent;
  border: 1px solid #161616;
  padding: 4px 1.7rem;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #161616;
}

.main-right .card .card-body p {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #161616;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}
.main-right .card .card-body .count {
  display: flex;
}
.main-right .card .card-body .count i {
  color: #161616cc;
}
.main-right .card .card-body .count span {
  margin: 0 3rem 0 1rem;
}
/* Fixture Section Styling */
.card-images {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 53px 30px 20px 30px;
  gap: 1rem;
}

.main-right .card .card-body h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #161616;
}
.fixture-main .card .card-body p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #4d4d4d;
}
/* Tablet Button styling */
.tab-btn {
  display: flex;
  justify-content: center;
}
.tablet-button {
  display: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  background-color: #dd0000;
  border-radius: 5px;
  padding: 1.2rem 1.9rem;
  border: none;
  cursor: pointer;
}

/* Footer CSS */
.footer {
  background-color: #000;
  padding: 13rem 0 11rem;
}
.footer-logo {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 4rem;
  color: #fff;
  text-align: center;
  margin-bottom: 5rem;
}

.footer-link {
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
  padding-top: 5rem;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.footer-link li {
  flex-basis: 15rem;
  margin-bottom: 2rem;
}
.footer-link a {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  color: #b9b9b9;
  transition: all 0.3s ease-in-out;
}
.footer-link a:hover {
  color: #dd0000;
}
.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 3rem;
}
.footer-social a {
  display: block;
  font-size: 2.4rem;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.footer-social a:hover {
  color: #dd0000;
}
